$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


* {
  letter-spacing: 0.050em;
  font-family: 'Maven Pro';
}

body {
  position: relative;
}

input {
  min-width: 50px;
}

h1,h3,h4 {
  font-family: 'Josefin Sans';
}

p,p b {
  font-size: 24px;
  letter-spacing: 0.040em;
  line-height: 1.25;
  font-family: 'Maven Pro';
}

.placeholder {
  height: 50px;
}

.fixed-heading {
  position: fixed;
  top: 33%;
  left: 35%;
}

.money {
  color: green;
}

.title {
  text-align: center;
}

h1.title {
  padding-bottom: 50px;
}

.header {
  padding-bottom: 10%;
}

.employees-heading {

}

.ct-chart .ct-label.ct-horizontal {
  color: #333;
  fill: #333;
  font-size: 1.75em;
}

.ratio-chart, #income-chart {
  height: 300px;
}

.after section {
  margin-top: -120px;
  height: 200px;
  visibility: hidden;
  // padding-bottom: 50px;
}

.after .intro-employees{
  margin-top: 0px;
}

.employees-container {
  padding-top: 100px;
  padding-bottom: 250px;
  width: 465px;

  img {
    height: 200px;
  }
}
.chart-time {
}

.fixed-item {
  position: fixed;
  top: 50%;
  left: 30%;
}
